@charset "UTF-8";
/* RECOMENDACIONES */
.ytvideo {
  height: 50%;
  width: 100%; }

#reco {
  font-family: 'roboto';
  letter-spacing: 5px; }

#reco li {
  padding: 15px; }

iframe {
  margin-top: 20px; }

.col-6 {
  width: 80%;
  margin: 5%; }

.foto-reco {
  max-width: 80%; }

/* SUBTÍTULOS */
.titulo {
  font-family: 'Playfair Display', serif;
  font-size: .7em;
  letter-spacing: 5px; }

/* BOTONES */
.box, .box-verde, .box-rosa, .box-celeste {
  color: black;
  border-radius: 20px;
  padding: 1.5% 20%;
  opacity: 50%; }

.box-verde {
  background-color: #E1EFDF; }

.box-rosa {
  background-color: #ffe5ef; }

.box-celeste {
  background-color: #bdd8f3; }

.box:hover, .box-verde:hover, .box-rosa:hover, .box-celeste:hover {
  opacity: 100%; }

/* HEADER */
header h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: black;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 4.1em;
  color: #2b2b2b; }

/* NAV */
nav ul {
  text-align: center;
  padding: 0%; }
  nav ul li {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', serif;
    align-items: center;
    align-content: center;
    color: #0a0a0a;
    font-size: 1em;
    list-style: none; }

hr {
  width: 65%; }

.nav-button {
  transition: transform .35s; }

.nav-button:hover {
  transform: scale(1.2); }

/* FOOTER */
footer {
  font-family: 'roboto', serif; }
  footer li {
    flex-direction: column;
    margin: 2px 12px; }

#fb:hover {
  transform: scale(1.2);
  transition-timing-function: ease;
  transition-duration: 0.4s; }

#tw:hover {
  transform: scale(1.2);
  transition-timing-function: ease;
  transition-duration: 0.4s; }

#steam:hover {
  transform: scale(1.2);
  transition-timing-function: ease;
  transition-duration: 0.4s; }

.red-icon {
  padding: 2%;
  border: 1px;
  border-radius: 50%;
  display: inline-block; }

.red-facebook {
  background: #bdd8f3; }

.red-twitter {
  background: #E1EFDF; }

.red-steam {
  background: #ffe5ef; }

#legal {
  font-size: 0.8em;
  opacity: 50%; }

/* NUESTRO LOCAL */
#hero {
  margin: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

/* TURNOS */
.center-table {
  margin-left: auto;
  margin-right: auto; }

table {
  margin: 50px;
  font-family: 'roboto'; }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #E1EFDF;
  border-width: 3px;
  text-align: center;
  padding: 10px 10px; }

th {
  background-color: blanchedalmond; }

/* TEXTO */
h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  letter-spacing: 4px;
  padding: 2%; }

main div {
  align-items: center; }

.texto_index {
  font-family: 'roboto', serif;
  text-align: justify;
  width: 43%;
  font-size: 1.3em;
  letter-spacing: 1px;
  color: #2b2b2b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

/* CENTER TEXT */
.medio {
  text-align: center; }

/* NEGRITA -TEXTO- */
.bold {
  font-family: 'Playfair Display', serif; }

/* SUBTÍTULOS */
.titulo {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  letter-spacing: 5px; }

/* CONTACTO */
#contacto {
  display: flex;
  justify-content: center;
  font-family: 'roboto'; }

/* CENTER IMAGE */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

/* CAROUSEL */
.contenedor-carousel {
  height: 0%;
  width: 0%;
  visibility: hidden; }

/* 2DS */
.ds {
  visibility: hidden;
  height: 0%;
  width: 0%;
  margin-bottom: 10px; }

/* MÁRGENES INFERIORES - BOTONES - CARDS */
.margin-bot {
  margin-bottom: 30px; }

.button {
  background: #ffe5ef;
  color: #2b2b2b;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  width: 80px;
  height: 30px; }

.button:hover {
  background: #d89fb5;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none; }

.card-body {
  background-color: #f5e3e9; }

.btn-primary {
  background-color: #99527e;
  border-width: 0px; }

.btn-primary:hover {
  background-color: #771d54;
  border-width: 0px; }

.dot {
  visibility: hidden; }

/* LINKS */
a {
  text-decoration: none;
  color: #7c7c7c; }

a:hover {
  color: #99527e; }

/* BODY */
.row {
  display: flex; }

body {
  background-image: url(../Img/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FFFDF2; }

/* LISTÓN ROSA */
h2 {
  background-color: #ffe5ef;
  display: block;
  width: 100%;
  padding: 15px; }

/* 768 PX */
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  /* SUBTÍTULOS */
  .titulo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    letter-spacing: 15px; }
  /* FOOTER */
  footer li {
    display: inline-block;
    margin: 2px 12px; }
  .red-icon {
    padding: 1%;
    border: 1px;
    border-radius: 50%;
    width: auto;
    height: auto; }
  /* NAV */
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  nav ul li {
    margin: 5px 10px;
    font-size: 1em; }
  .dot {
    visibility: visible; }
  /* 2DS */
  .nav-button:hover {
    transform: scale(1.2); }
  .ds {
    visibility: visible;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  .texto_index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  /* NUESTRO LOCAL */
  #hero {
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  /* RECOMENDACIONES */
  .ytvideo {
    height: 300px;
    width: 80%; }
  .col-6 {
    width: 80%;
    margin: 5%; }
  .titulo {
    font-size: 1.5rem; }
  /* TURNOS */
  table, th, td {
    padding: 10px 24px; } }

/* 1024 PX */
/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  /* NAV */
  nav ul li {
    display: inline-block;
    margin: 5px 22px;
    font-size: 1rem; }
  /* CAROUSEL */
  .contenedor-carousel {
    height: 100%;
    width: 100%;
    visibility: visible;
    padding-top: 10px; } }

@media screen and (min-width: 1400px) {
  /* NAV */
  nav ul li {
    display: inline-block;
    margin: 5px 22px;
    font-size: 1.5em; }
  /* NUESTRO LOCAL */
  #hero {
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  /* RECOMENDACIONES */
  .ytvideo {
    height: 600px;
    width: 65%; }
  /* TURNOS */
  table, th, td {
    padding: 10px 24px; } }

ul {
  text-align: center; }

li {
  list-style: none; }
