/* CONTACTO */


#contacto{
    display: flex;
    justify-content: center;
    font-family: 'roboto';
}

#titulo{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    letter-spacing: 22px;
}
