/* FOOTER */

footer{
    font-family: 'roboto', serif;


    li{
        display: inline-block;
        margin: 2px 12px;
    }
}

#fb:hover{
    transform: scale(1.3);   
    transition-timing-function: ease;
    transition-duration: $scale-hover;
}

#tw:hover{
    transform: scale(1.3);   
    transition-timing-function: ease;
    transition-duration: $scale-hover;
}

#steam:hover{
    transform: scale(1.3);   
    transition-timing-function: ease;
    transition-duration: $scale-hover;
}

