/* RECOMENDACIONES */

.ytvideo{
    height: 600px;
    width: 65%;
}

#reco{
    font-family: 'roboto';
    letter-spacing: 5px;
}

#reco li{
    padding: 15px;
}

iframe{
    margin-top: 20px;
}

#youtube{
    background-color: #FFE5EF;
    display: block;
    width: 100%;
}