@import "variables";


/* RECOMENDACIONES */

.ytvideo{
    height: 50%;
    width: 100%;
}

#reco{
    font-family: 'roboto';
    letter-spacing: 5px;
}

#reco li{
    padding: 15px;
}

iframe{
    margin-top: 20px;
}


.col-6{
    width: 80%;
    margin: 5%;
}


.foto-reco{
    max-width: 80%;
}

/* SUBTÍTULOS */
.titulo {
    font-family: 'Playfair Display', serif;
    font-size: .7em;
    letter-spacing: 5px;
}





/* BOTONES */

.box{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 1.5% 20%;
    opacity: 50%;
}

.box-verde{
    @extend .box;
    background-color: $verde;
}

.box-rosa{
    @extend .box;
    background-color: $rosa;
}

.box-celeste{
    @extend .box;
    background-color: $celeste;
}

.box:hover {
    opacity: 100%;
}