/* TEXTO */

h1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 4px;
    padding: 2%;
}

main {
    div{
        align-items: center;
    }
}

.texto_index{
    font-family: 'roboto', serif;
    text-align: justify;
    width: 43%;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: #2b2b2b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* CENTER TEXT */

.medio{
    text-align: center;
}

/* NEGRITA -TEXTO- */

.bold{
    font-family: 'Playfair Display', serif;
}

/* SUBTÍTULOS */

.titulo{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    letter-spacing: 5px;
}
